{% if site.category_sidebar %}
<section>
<h1>categories</h1>
<ul>
  <li><a href='/blog/categories/c'>C (4)</a></li>
  <li><a href='/blog/categories/cocos2dx'>Cocos2dx (3)</a></li>
  <li><a href='/blog/categories/erlang'>Erlang (2)</a></li>
  <li><a href='/blog/categories/gentoo'>Gentoo (1)</a></li>
  <li><a href='/blog/categories/git'>Git (1)</a></li>
  <li><a href='/blog/categories/haskell'>Haskell (2)</a></li>
  <li><a href='/blog/categories/linux'>Linux (1)</a></li>
  <li><a href='/blog/categories/mongo'>Mongo (2)</a></li>
  <li><a href='/blog/categories/nginx'>Nginx (1)</a></li>
  <li><a href='/blog/categories/php'>Php (1)</a></li>
  <li><a href='/blog/categories/reading'>Reading (1)</a></li>
</ul>
</section>
{% endif %}
